@font-face {
    font-family: "Roboto Regular";
    src: url(../Assets/Roboto/Roboto-Regular.ttf) format("truetype");
    font-weight: normal;
}
@font-face {
    font-family: "Roboto Extra Bold";
    src: url(../Assets/Roboto//Roboto-Bold.ttf) format("truetype");
    font-weight: normal;
}
@font-face {
    font-family: "Roboto Light Italic";
    src: url(../Assets/Roboto/Roboto-Italic.ttf) format("truetype");
    font-weight: normal;
}
@font-face {
    font-family: "Roboto Black Italic";
    src: url(../Assets/Roboto//Roboto-BlackItalic.ttf) format("truetype");
    font-weight: normal;
}
@font-face {
    font-family: "Roboto Thin Italic";
    src: url(../Assets/Roboto//Roboto-ThinItalic.ttf) format("truetype");
    font-weight: normal;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.aboutme{
    width: 100%;
    background: linear-gradient(to bottom, #000000 0%, #0d0d0d 40%, #343434 150%), linear-gradient(to top, rgba(255,255,255,0.40) 0%, rgba(0,0,0,0.25) 200%);
    background-blend-mode: multiply;
    display: flex;
    flex-direction: column;
}

.aboutme .intro{
    display: flex;
    justify-content: space-around;
    width: 100%;
    align-items: center;
}
.aboutme img{
    max-width: auto;
    height: 500px;
    border-radius: 10px;
    margin: 50px;
}
.aboutme p{
    display: flex;
    width: 700px;
    font-family: "Roboto Light Italic";
    font-weight: lighter;
    font-size: 1.2rem;
    color: white;
    align-items: center;
    line-height: 30px;
}
.skills_tools_container{
    display: flex;
    flex-direction: column;
    background-color: #e5e7eb;
}
.skills_tools{
    display: flex;
    background-color: #e5e7eb;
}
.btn{
    display: flex;
    width: 10em;
    background-color: black;
    color: white;
    font-size: 2em;
    align-self: flex-end;
    justify-content: center;
    border-radius: 10px;
    margin-bottom: 10px;
    margin-right: 10px;
    transition: transform 0.2s, background-color 0.2s, box-shadow 0.2s;
    box-shadow: 0 5px #666;
    border: none;
    cursor: pointer;
}
.btn:active{
    background-color: rgb(50, 124, 156);
    transform: scale(0.95);
    box-shadow: 0 2px #666;
}
.skills_tools h1{
    align-self: center;
    font-family: "Roboto Thin Italic";
    font-weight: bolder;
    font-size: 3rem;
    width: 50%;
}
.aboutparagraph{
    display: flex;
    flex-direction: column;
    gap: 10px;
    font-size: 1.5em;
}
.aboutparagraph h3{
    color: white;
    text-align: right;
    font-size: 2.5em;
    font-family: "Roboto Extra Bold";
}
.paragraph1{
    text-align: left;
    font-family: "Roboto Light Italic";

}
.paragraph2{
    text-align: left;
    margin-top: 1em;
}
.paragraph3{
    text-align: left;
    margin-top: 1em;
}
.stack{
    display: flex;
    flex-direction: column;
    color: white;
    text-align: left;
    list-style: circle;
    font-family: "Roboto Light Italic";
    gap: 10px;
    font-size: 0.9em;
}
.paragraph4{
    text-align: right;
    margin-top: 1em;
}

.skills_tools img{
    width: auto;
    height: 80px;
}
.experience{
    display: flex;
    padding: 20px;
    background: linear-gradient(to bottom, #000000 0%, #0d0d0d 40%, #343434 150%), linear-gradient(to top, rgba(255,255,255,0.40) 0%, rgba(0,0,0,0.25) 200%);
    background-blend-mode: multiply;
    flex-direction: row-reverse;
    width: 100%;
}
.experience h2{
    color: white;
    font-family: "Roboto Thin Italic";
    font-weight: bolder;
    font-size: 3rem;
    width: 50%;
    text-align: center;
    align-self: center;
}
.carousel{
    width: 100%;
}
.experience div{
    display: flex;
}
.experience figcaption{
    color: white;
    font-family: "Roboto Black Italic";
    font-weight: lighter;
}
.experience img{
    width: auto;
    height: 100px;

}

@media screen and (max-width:1040px){
    .aboutme p{
        display: flex;
        text-align: start;
        justify-self: center;
        align-self: center;
        width: 100%;
    }
    .aboutme .intro img{
        width: auto;
        height: 500px;
    }
}

@media screen and (max-width:660px){
    .aboutme{
        width: 100%;
        display: flex;
        overflow: hidden;
    }
    .aboutme .intro{
        display: flex;
        flex-direction: column;
        width: 100%;
    }

    .aboutme .intro img{
        width: auto;
        height: 400px;
    }

    .aboutme p{
        display: flex;
        text-align: start;
        justify-self: center;
        align-self: center;
        padding: 0 20px 20px 20px;
        width: 100%;
    }
    .aboutme ul{
        padding: 0 20px 20px 20px;
    }
    .skills_tools_container{
        width: 100%;

    }
    .skills_tools{
        display: flex;
        flex-direction: column;
        width: 100%;
    }
    .skills_tools h1{
        width: 100%;
        text-align: center;
        height: max-content;
        margin-top: 0.5em;
    }
    .skills_tools div{
        align-items: center;
        justify-content: center;
    }
    .skill_img{
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .skills_tools div :nth-child(6){
        width: auto;
        height: 100px;
    }
    .skills_tools div :nth-child(9){
        width: auto;
        height: 110px;
    }
    .btn{
        width: 9em;
        align-self: center;
    }
    .experience{
        display: flex;
        flex-direction: column;
        width: 100%;
        padding: 0px;
        margin: 0px;
    }
    .experience h2{
        width: 100%;
        margin-top: 0.5em;
    }

    #logos{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin: 0px;
        padding: 0px;
    }
    #caleb{
        width: auto;
        height: 50px;
    }
    .experience img{
        width: auto;
        height: 80px;
    }
    .experience figure{
        width: 100%;
        margin: 0px;
        padding: 0px;
        align-items: center;
        justify-content: center;
    }
    .aboutparagraph h3{
        text-align: center;
        font-family: "Roboto Extra Bold";
    }
    .aboutparagraph{
        font-size: 1em;
        align-items: center;
        justify-content: center;
        text-align: center;
        padding-top: 1em;
    }
    .paragraph1{
        text-align: center;
    }
    
}
