@font-face {
    font-family: "Roboto Regular";
    src: url(../Assets/Roboto/Roboto-Regular.ttf) format("truetype");
    font-weight: normal;
}
@font-face {
    font-family: "Roboto Extra Bold";
    src: url(../Assets/Roboto/Roboto-Bold.ttf) format("truetype");
    font-weight: normal;
}
@font-face {
    font-family: "Roboto Light Italic";
    src: url(../Assets/Roboto/Roboto-Italic.ttf) format("truetype");
    font-weight: normal;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.works{
    display: flex;
    flex-direction: column;
    background: linear-gradient(to bottom, #000000 0%, #0d0d0d 40%, #343434 150%), linear-gradient(to top, rgba(255,255,255,0.40) 0%, rgba(0,0,0,0.25) 200%);
    background-blend-mode: multiply;
    display: flex;
    width: 100%;
}
.works p{
    color: white;
    font-family: "Roboto Extra Bold";
    font-size: 2.5rem;
    padding: 20px;
}
.sec-1{
    display: flex;
    justify-content: space-around;
    width: 100%;
}
.sec-1 img{
    width: auto;
    height: 320px;
    border-radius: 10px;
    margin-top: 50px;
    rotate: 7deg;
}
#img1{
    transition-duration: 2s;
    transition-delay: 0.2s;
}
#img1:hover{
    rotate: 1deg;
}
#img2{
    rotate: -15deg;
    width: 400px;
    height: 300px;
    transition-duration: 2s;
    transition-delay: 0.2s;
}
#img2:hover{
    rotate: 1deg;
}
#img3{
    rotate: 5deg;
    width: 350px;
    height: 300px;
    transition-duration: 2s;
    transition-delay: 0.2s;
}
#img3:hover{
    rotate: 0deg;
}
.sec-2{
    display: flex;
    flex-direction: column;
    color: #e5e7eb;
    align-items: center;
    padding: 50px;
    width: 100%;
}
.sec-2 p{
    font-family: "Roboto Light Italic";
    font-size: 1.5rem;
}
.sec-2 button{
    width: 100px;
    height: 50px;
    color: white;
    background-color: #155dd2;
    border-radius: 5px;
    border: none;
    font-family: "Roboto Extra Bold";
    margin: 20px;
    cursor: pointer;
}


@media screen and (max-width:600px){
    .sec-1{
        display: flex;
        flex-direction: column;
        width: 100%;
    }
    .sec-1 img{
        rotate: 7deg;
        margin-bottom: 50px;
    }
}

@media screen and (max-width:1200px){
    .sec-1{
    display: flex;
    flex-direction: column;
    width: 100%;
    }
    .sec-1 img{
        margin-bottom: 50px;
        height: 280px;
    }
}

@media screen and (max-width:600px){
    .sec-1 img{
        rotate: 0deg;
        margin-bottom: 50px;
    }
    #img1{
        width: 300px;
    }
    #img2{
        rotate: 0deg;
        width: 300px;
    }
    #img3{
        rotate: 0deg;
        width: 300px;
    }
}